body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Narrow";
  background-image:url("../img/background-index.jpg");
}

.title {
  font-size: 48px;
  line-height: 48px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}

.title-1 {
  font-size: 30px;
  line-height: 42px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}

.title-2 {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}
.white {
  color: white;
}
.gray {
  color: gray;
}






/*размер шрифта,
высоту строки,
цвет шрифта,
жирность шрифта,
гарнитуру (название шрифта).
